.contact-page {
    position: relative;
    z-index: 5;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center;
}

.contact-nav {
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bandein Sans Strange Variable", sans-serif;
    font-variation-settings: "wdth" 400;
    font-weight: 500;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    font-size: clamp(1em, 1vw + 1.2em, 2em);
    margin-right: 2%;
    
  }

  .contact-nav .nav-list :nth-child(4){
  
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  