body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bandein Sans Web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

